@page "/";

<h3>Hello, @App.Title</h3>

<h2>Contents</h2>

<ul>
    <li><a href="/">@App.Title Index</a></li>
    <li><a href="/counter">Counter</a></li>
    <li><a href="/placeorder">Place Order</a></li>
</ul>

@code {

}